div.login-wrapper{
    background: #e6e6e6;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

div.login-wrapper form.login-form{
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
}

div.MuiFilledInput-root{
    background-color: white;
}