/* Ticket Color Code Styles */
.ticket-card-green{
    border-left: 4px solid green;
}

.ticket-card-purple{
    border-left: 4px solid rgb(98, 0, 128);
}

.ticket-card-red{
    border-left: 4px solid rgb(179, 3, 3);
}

/* Loading Styles */
.loading{
    margin-left: 20px;
}

/* Ticket Styles */
.ticket-list{
    width: 50%;
}

.ticket-info-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 10px;
}

.ticket-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 100%;
}

.ticket-info-wrapper section:first-of-type {
    width: 46%;
}

.ticket-form{
    display: flex;
    flex-direction: column;
}

.ticket-form-header{
    text-align: left;
    width: 31%;
}

.ticket-form .input-group{
    padding: 15px;
}

.ticket-form .input-group div.MuiInputBase-root{
    width: 250px;
}